.cards{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.mainCard, .subCard{
    border: 3px solid skyblue;
    border-radius: 10px;
    width: 500px;
    text-align: center;
    height: fit-content;
    line-height: 2em;
  
}

.mainCard span:nth-child(even){
    font-family: Impact, Charcoal, sans-serif;
    opacity: var(--opacity1);
    font-size: x-large;
    color: var(--textcolors);
    letter-spacing: 1px;
}

.mainCard span:nth-child(odd){
    font-size: xx-large;
    font-family: "Courier New", Courier, monospace;
}

.subCard span:nth-child(even){
    font-family: Impact, Charcoal, sans-serif;
    opacity: var(--opacity1);
    font-size: x-large;
    letter-spacing: 1px;
}

.subCard span:nth-child(odd){
    font-size: xx-large;
    font-family: "Courier New", Courier, monospace;
}

.death{
    color: rgb(252, 115, 115);
}
.recovered{
    color: #03b11a;
}

.daily{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    line-height: 50px;
}

.daily li{
    list-style: none;
}
.daily h3{
    font-size: 20px;
}
.dailylogs{
    margin-bottom: 100px;
}
.red{
    color: red;
}
.dailyContainer{
    display: none;
}
.dailyContent {
    margin-left: 50px;
}
#hidebutton{
    display: none;
}
button {
    color: black;
    border-radius: 5px !important; 
    background-color:  white;
    padding: 9px 17px;
    border: 2px solid skyblue;
    transition-duration: 0.4s;
}

button:hover {
    background-color: skyblue;
    color: rgb(255, 255, 255);
    outline: none;
}
@media only screen and (max-width: 700px){
.daily .spanCounter{
    display: none
}

.dailyContent {
    margin-left: 0px;
}
.daily .columns{
    margin-left: 35px;
}

.daily h3{
    font-size: 15px;
}
}