.cards{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.mainCard{
    border: 3px solid skyblue;
    width: 500px;
    text-align: center;
    height: fit-content;
  
}
.subCard{
    border: 3px solid skyblue;
    width: 500px;
    text-align: center;
    height: fit-content;

}

.mainCard span:nth-child(even){
    font-family: Impact, Charcoal, sans-serif;
    opacity: 0.5;
    font-weight: bold;
    font-size: x-large;
}

.mainCard span:nth-child(odd){
    font-size: xx-large;
    font-family: "Courier New", Courier, monospace;
}

.subCard span:nth-child(odd){
    font-size: xx-large;
    font-family: "Courier New", Courier, monospace;
}

.subCard span:nth-child(even){
    font-family: Impact, Charcoal, sans-serif;
    opacity: 0.5;
    font-weight: bold;
    font-size: x-large;
}

.death{
    color: red;
}
.recovered{
    color: green;
}

.daily{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    line-height: 50px;
}

.daily li{
    list-style: none;
    opacity: 1;
}
.daily h1{
    font-size: 20px;
}
.dailylogs{
    margin-bottom: 100px;
}
.red{
    color: red;
}
.dailyContainer{
    display: none;
}

#hidebutton{
    display: none;
}

@media only screen and (max-width: 700px){
.daily span{
    display: none
}
}