.donate{
    padding-top: 60px;
    margin-top: -60px;
}

.donate img{
    height: 200px;
    opacity: 0.5;
    margin-bottom: 15px;
}

.donate img:hover{
    opacity: 1;
}

.donate p{
    padding: 1em;
    border-right: 5px solid skyblue;
    border-top:5px solid skyblue;
}



