.donate{
    padding-top: 60px;
    margin-top: -60px;
}

aside img{
    height: 200px;
    opacity: 0.5;
    margin-bottom: 15px;
}

aside img:hover{
    opacity: 1;
}

aside{
    display: flex;
    flex-wrap: wrap;
    flex:400px;
} 

aside blockquote{
    padding: 1em;
    transition: .3s ease-in-out;
    border-right: 5px solid skyblue;
    border-top:5px solid skyblue;
}



