.container{
    background-color: #26272b;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px;
    margin: 0;
    height: fit-content;
}

footer p {
    color: azure;
    margin-left: 20px;
}

footer a{
    color: 	rgb(0,150,254);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


