@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Roboto:ital,wght@0,400;1,100&display=swap');

:root{
    --gray1: #f8f8f8;
    --gray2: #2a2e35;
    --white0: white;
    --black0: black;
    --opacity1: 1;
}

.dark{
    --bg: var(--gray2);
    --text: var(--gray1);
    --textcolor: var(--white0);
    --opac1: var(--opacity1);
}
.hide {
    height:0;
    width:0;
    visibility:hidden;   
}    
/* input:checked + label {
    background-color:#e0e0e0
} */
html{
    scroll-behavior: smooth;
    padding: 10px;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg);
    color: var(--text);
    transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}


body::-webkit-scrollbar{
    width: 0.25rem;
}
body::-webkit-scrollbar-track{
    background: black;
}
body::-webkit-scrollbar-thumb{
    background: skyblue;
}

.toggle{
  margin-left: 80vw;
  display: flex;
  align-items: center;
}
#star {
    height: 3em ;
}
.moon {
animation: moonAnimation 0.5s forwards;
transition: linear;
}
.sun {
animation: sunAnimation 0.5s forwards;
transition: linear;
}

@keyframes moonAnimation {
    from {
        transform: translateY(30px);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes sunAnimation {
    from {
        transform: translateY(-30px);
    }
    to {
        transform: translateY(0px);
    }
}
#toggleTheme:hover {
cursor: pointer;
}
header{
    border-bottom: 1px solid skyblue;
    margin-bottom: 50px;
    font-size: 1.5em;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.1em;
  }


nav{
    line-height: 60px;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 4px 2px -2px var(--textcolor);
    background-color: #26272b;
}

 main ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
} 

main a:hover{
    text-decoration: none;
    color: rgb(20, 232, 255);
}

main a:active{
    text-decoration: none;
    color: rgb(20, 232, 255);
} 

main a{
    text-decoration: none;
    color:white;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    transition: color ease 0.5s;
}

#global {
  background-image: url("./images/diagonal.png");
  padding-right: 1.5em;
  background-position: 50px 10px;
  background-size: .6rem .6rem;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 700px){
  main a{
      font-size: 12px;
  }
  main ul{
    justify-content: space-around;
  }
  #darktext{
      font-size: 12px;
  }
  .toggle{
    margin-left: 65vw;
  }
  #global {
      background-position: 35px 10px;

  }
}

